* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f8fafc;
    color: #1f2933;
    line-height: 1.7;
}


.navbar {
    background: #4f46e5;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}


.hero {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 80px 40px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-text button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #22c55e;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.hero-img {
    flex: 1;
}

.hero-img img {
    width: 100%;
    border-radius: 20px;
}


.section {
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
}

.section.light {
    background: #eef2ff;
    max-width: none;
}

.section h2 {
    text-align: center;
    margin-bottom: 25px;
}


.process-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.process-card {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.process-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}


.feature-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 15px;
}


.contact {
    display: flex;
    gap: 40px;
    align-items: center;
}

.contact-img img {
    width: 100%;
    border-radius: 20px;
}


.footer {
    background: #111827;
    color: #cbd5e1;
    padding: 50px 40px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 30px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer a {
    display: block;
    color: #cbd5e1;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer a:hover {
    color: #22c55e;
}

footer p {
    margin-top: 30px;
    text-align: center;
}


@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #4f46e5;
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero,
    .contact {
        flex-direction: column;
        text-align: center;
    }
}
